<div class="jumbotron">
  <p class="lead">This is your token</p>
  <h2>{{token}}</h2>
  <br />
  <p class="lead">Save it to <code>~/.yt/token</code>:</p>
  <p class="lead"><code>mkdir -p ~/.yt ; chmod 700 ~/.yt ; echo '{{token}}' > ~/.yt/token ; chmod 400 ~/.yt/token</code></p>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <p>
      <a href="index">Go back</a>.
    </p>
  </div>
</div>
