<div class="jumbotron">
  <h2>Error</h2>
  <p class="lead">{{message}}</p>
  <p><pre>{{description}}</pre></p>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <p>
      <a href="index">Go back</a>.
    </p>
  </div>
</div>
