<div class="jumbotron">
  <h1>Authentication</h1>
  <p class="lead">
    For authentication we use OAuth.
  </p>
  <a class="btn btn-large btn-success" href="new">Give me my token!</a>
</div>
<hr>
<div class="row-fluid marketing">
  <div class="span12">
    <h4>How to revoke my token?</h4>
    <p>
      Please, use <a href="http://oauth.yandex-team.ru/list_tokens">oauth.yandex-team.ru</a> to revoke access for YT applications.
    </p>
    <h4>Where I can read more about OAuth?</h4>
    <p>
      You can use documentation at <a href="http://doc.yandex-team.ru/oauth/dg-internal/concepts/About.xml">doc.yandex-team.ru</a>.
    </p>
  </div>
</div>
