pytest==7.3.1
pytest-timeout==2.1.0
flaky==3.7.0
mock==5.1.0

zstd==1.5.5.1
pytz==2023.3
kazoo==2.9.0
python-dateutil==2.8.2
requests==2.30.0
requests_mock==1.10.0
urllib3==2.0.2
pydantic==1.10.7
psutil==5.9.5

protobuf==4.23.1
grpcio==1.54.2

dacite==1.8.1
pyaml==23.9.7

# TODO: Enable when portopy will be available in public pypi.
# portopy==5.2.8

-r python_libraries_requirements.txt
