#Documentation:
#https://wiki.yandex-team.ru/PoiskovajaPlatforma/Build/Unix

build_root = var(source_root)/../build
build_types = debug release profile
default_build_type = debug

bsd_build = no
bsd_objdir = /usr/obj
create_pad_links = no
pad_links_dir = var(source_root)

silent_CMake = yes
verbose_make = no

run_in_project_root = no
require_local_dot_cmake = no

CMake_program = cmake
CMake_priority = 15
CMake_environment =
CMake_arguments =

make_program = make
make_priority = 15
make_environment =
make_arguments =

test_program = var(source_root)/check/run_test.py
test_priority = 19
test_environment =
test_arguments =

canonize_program = var(source_root)/check/canon.py
canonize_priority = 15
canonize_environment =
canonize_arguments =
