# Clear operations
*/10 * * * * TITLE="clear operations on alyx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=alyx.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --robot crawler --robot odin --robot cron --robot statbox_push_daemon --archive-timeout 7 --archive --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_alyx.log 2>&1
*/10 * * * * TITLE="clear operations on marx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=marx.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --robot cron --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200"' >>/opt/cron/clear_operations_marx.log 2>&1
*/10 * * * * TITLE="clear operations on barney" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=barney.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_barney.log 2>&1
*/10 * * * * TITLE="clear operations on seneca-sas" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-sas.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --push-metrics"' >>/opt/cron/clear_operations_seneca-sas.log 2>&1
*/10 * * * * TITLE="clear operations on seneca-fin" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-fin.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --push-metrics"' >>/opt/cron/clear_operations_seneca-fin.log 2>&1
*/10 * * * * TITLE="clear operations on pythia" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=pythia.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_pythia.log 2>&1
*/10 * * * * TITLE="clear operations on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=freud.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_freud.log 2>&1
*/10 * * * * TITLE="clear operations on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=banach.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_fix3.py --archive-timeout 7 --execution-timeout 480 --archive --grace-timeout 600 --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_banach.log 2>&1
*/10 * * * * TITLE="clear operations on socrates" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=socrates.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --push-metrics"' >>/opt/cron/clear_operations_socrates.log 2>&1
*/10 * * * * TITLE="clear operations on vanga" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=vanga.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_vanga.log 2>&1
*/5 * * * * TITLE="clear operations on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_fix3.py --archive-timeout 7 --archive --archive-jobs --grace-timeout 120 --push-metrics --soft-limit 1000"' >>/opt/cron/clear_operations_hahn.log 2>&1
*/5 * * * * TITLE="clear operations on hume" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hume.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_gridem.py --archive-timeout 7 --archive --archive-jobs --push-metrics"' >>/opt/cron/clear_operations_hume.log 2>&1
*/10 * * * * TITLE="clear operations on flux" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=flux.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200 --push-metrics"' >>/opt/cron/clear_operations_flux.log 2>&1
*/10 * * * * TITLE="clear operations on perelman" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=perelman.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200 --push-metrics"' >>/opt/cron/clear_operations_perelman.log 2>&1
*/10 * * * * TITLE="clear operations on markov" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=markov.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200 --push-metrics"' >>/opt/cron/clear_operations_markov.log 2>&1
# OFD-MYT
*/10 * * * * TITLE="clear operations on ofd-myt" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=ofd-myt.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200 --push-metrics"' >>/opt/cron/clear_operations_ofd-myt.log 2>&1
# OFD
*/10 * * * * TITLE="clear operations on ofd" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=ofd.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200 --push-metrics"' >>/opt/cron/clear_operations_ofd.log 2>&1

# Seneca-man
*/10 * * * * TITLE="clear operations on seneca_man" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-man.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --push-metrics"' >>/opt/cron/clear_operations_seneca-man.log 2>&1
0 * * * * TITLE="clear tmp on seneca-man" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-man.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_seneca-man.log 2>&1
0 14 * * * TITLE="resharding in-memory tables" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-man.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/reshard_in_memory_tables_lock "/opt/cron/reshard.py --yes auto --in-memory-only --root //yabs"' >>/opt/cron/reshard_in_memory_seneca_man.log 2>&1

# Seneca-myt
*/10 * * * * TITLE="clear operations on seneca_myt" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-myt.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive --push-metrics"' >>/opt/cron/clear_operations_seneca-myt.log 2>&1
0 * * * * TITLE="clear tmp on seneca-myt" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-myt.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_seneca-myt.log 2>&1
0 14 * * * TITLE="resharding in-memory tables" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-myt.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/reshard_in_memory_tables_lock "/opt/cron/reshard.py --yes auto --in-memory-only --root //yabs"' >>/opt/cron/reshard_in_memory_seneca_myt.log 2>&1

# Merge tables
0 3,15 * * * TITLE="merge on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=freud.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge.log 2>&1
0 3,15 * * * TITLE="merge on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=banach.yt.yandex.net THREAD_COUNT=100 /opt/cron/run_merge.sh >>/opt/cron/run_merge.log 2>&1
0 3,15 * * * TITLE="merge on vanga" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=vanga.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge.log 2>&1
0 3,15 * * * TITLE="merge on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net YT_POOL=cron_merge /opt/cron/run_merge.sh >>/opt/cron/run_merge.log 2>&1
0 3,15 * * * TITLE="merge on marx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=marx.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge.log 2>&1


# Nightly compression
0 5 * * * TITLE="compression on marx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=marx.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress.log 2>&1

# Nightly compression statistics
*/5 * * * * TITLE="compression statistics on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net /opt/cron/push_nightly_process_watcher_stats.py --tasks-root //sys/cron/compression/tasks --service nightly_compression >>/opt/cron/push_nightly_compression_stats.log 2>&1
# Nightly compression statistics
*/5 * * * * TITLE="compression statistics on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=banach.yt.yandex.net /opt/cron/push_nightly_process_watcher_stats.py --tasks-root //sys/cron/compression/tasks --service nightly_compression >>/opt/cron/push_nightly_compression_stats.log 2>&1
# Nightly compression statistics
*/5 * * * * TITLE="compression statistics on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=freud.yt.yandex.net /opt/cron/push_nightly_process_watcher_stats.py --tasks-root //sys/cron/compression/tasks --service nightly_compression >>/opt/cron/push_nightly_compression_stats.log 2>&1

# Nightly tests
0 */5 * * * YT_PROXY=hume.yt.yandex.net  /opt/cron/nightly_tests/synth/cron.sh /opt/cron/nightly_tests/logs >>/opt/cron/nightly_tests.log 2>&1

# Clear old objects in tmp
0 * * * * TITLE="clear tmp on flux" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=flux.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_flux.log 2>&1
0 * * * * TITLE="clear tmp on barney" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=barney.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_barney.log 2>&1
0 * * * * TITLE="clear tmp on marx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=marx.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_marx.log 2>&1
0 * * * * TITLE="clear tmp on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=freud.yt.yandex.net /opt/cron/clear_tmp.sh >>/opt/cron/clear_tmp_freud.log 2>&1
0 * * * * TITLE="clear tmp on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=banach.yt.yandex.net /opt/cron/clear_tmp.sh >>/opt/cron/clear_tmp_banach.log 2>&1
0 * * * * TITLE="clear tmp on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net /opt/cron/clear_full_tmp.sh >>/opt/cron/clear_tmp_hahn.log 2>&1
*/15 * * * * TITLE="clear tmp files on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net /opt/cron/clear_tmp_files.sh >>/opt/cron/clear_tmp_files_hahn.log 2>&1
0 * * * * TITLE="clear tmp on vanga" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=vanga.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_vanga.log 2>&1
0 * * * * TITLE="clear tmp on hume" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hume.yt.yandex.net /opt/cron/clear_tmp.sh >>/opt/cron/clear_tmp_hume.log 2>&1
0 * * * * TITLE="clear tmp on pythia" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=pythia.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_pythia.log 2>&1
0 * * * * TITLE="clear tmp on alyx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=alyx.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_alyx.log 2>&1
0 * * * * TITLE="clear tmp on seneca-sas" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-sas.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_seneca-sas.log 2>&1
0 * * * * TITLE="clear tmp on seneca-fin" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-fin.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_seneca-fin.log 2>&1
0 * * * * TITLE="clear tmp on markov" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=markov.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_markov.log 2>&1

# Setting opaques
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=freud.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_freud.log 2>&1
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net /opt/cron/set_opaque.sh >>/opt/cron/set_opaque_hahn.log 2>&1
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=banach.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_banach.log 2>&1

# Clear transfer manager tasks
*/3 * * * * TITLE="clear transfer manager tasks" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/clear_transfer_manager_tasks.py http://transfer-manager.yt.yandex.net/api/v1 --token-path /opt/cron/transfer_manager_token --total-count 1500 >>/opt/cron/clear_transfer_manager_tasks.log 2>&1
0 * * * * TITLE="clear transfer manager tasks on testing" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/clear_transfer_manager_tasks.py http://man01.flux.yt.yandex.net:5000 --token-path /opt/cron/transfer_manager_token --total-count 1500 >>/opt/cron/clear_test_transfer_manager_tasks_testing.log 2>&1
0 * * * * TITLE="clear tasks @ tm-userdata" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/clear_transfer_manager_tasks.py http://tm-userdata.yt.yandex-team.ru/api/v1 --token-path /opt/cron/transfer_manager_token --total-count 1500 >>/opt/cron/clear_transfer_manager_tasks_userdata.log 2>&1

# Push account statistics to statface
*/10 * * * * TITLE="push account statistics to statface" STATFACE_ROBOT_LOGIN="robot_robot-yt-openstack" STATFACE_ROBOT_PASSWORD_PATH="/opt/cron/statface_robot_password" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/push_resource_usage_info.py --push-to-statface >>/opt/cron/push_resource_usage_info.statface.log 2>&1

# Push account statistics to solomon
* * * * * TITLE="push account statistics to solomon" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/push_resource_usage_info.py --push-to-solomon >>/opt/cron/push_resource_usage_info.solomon.log 2>&1

# Scheduler event log rotation
0 * * * * TITLE="scheduler event log rotation on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=freud.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_freud.log 2>&1
0 * * * * TITLE="scheduler event log rotation on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_hahn.log 2>&1
0 * * * * TITLE="scheduler event log rotation on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=banach.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_banach.log 2>&1
0 * * * * TITLE="scheduler event log rotation on hume" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hume.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py --skip-fennel-check"' >>/opt/cron/scheduler_event_log_rotation_hume.log 2>&1

# Rebalance dynamic tables
# XXX(sandello): Disabled until we get 10G network on the cluster.
#15 21 * * * TITLE="reshard tables on vanga" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=vanga.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/vanga_rebalance "/opt/cron/rebalance.py --key-columns 2 --oversized --no-undersized --desired-size-gbs 10 --include \"^//home/statface/webface.*\" --exclude \".*/_rm/.*\" improve --yes"' >>/opt/cron/rebalance_vanga.log 2>&1

# Reshard in-memory tables on yabs clusters
0 10 * * * TITLE="resharding in-memory tables" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=barney.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/reshard_in_memory_tables_lock "/opt/cron/reshard.py --yes auto --in-memory-only --root //yabs"' >>/opt/cron/reshard_in_memory_barney.log 2>&1
0 10 * * * TITLE="resharding in-memory tables" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=alyx.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/reshard_in_memory_tables_lock "/opt/cron/reshard.py --yes auto --in-memory-only --root //yabs"' >>/opt/cron/reshard_in_memory_alyx.log 2>&1
#0 10 * * * TITLE="resharding in-memory tables" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-sas.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/reshard_in_memory_tables_lock "/opt/cron/reshard.py --yes auto --in-memory-only --root //yabs"' >>/opt/cron/reshard_in_memory_seneca_sas.log 2>&1
0 14 * * * TITLE="resharding in-memory tables" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token YT_PROXY=seneca-fin.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/reshard_in_memory_tables_lock "/opt/cron/reshard.py --yes auto --in-memory-only --root //yabs"' >>/opt/cron/reshard_in_memory_seneca_fin.log 2>&1

# Send cluster notification via mail
*/2 * * * * TITLE="notificator" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN_PATH=/opt/cron/token /opt/cron/notificator.py' >>/opt/cron/notificator.log 2>&1

# Prune empty tables and map nodes
0 3 * * * TITLE="empty tables and map nodes pruning" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN_PATH=/opt/cron/token YT_PROXY=hahn.yt.yandex.net /opt/cron/prune_empty_nodes.py >>/opt/cron/prune_empty_nodes_hahn.log 2>&1

