# Clear operations
*/10 * * * * TITLE="clear operations on smith" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=smith.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --log /opt/cron/operations_spec_smith --robot crawler --robot odin --robot cron --robot statbox_push_daemon --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_smith.log 2>&1
*/10 * * * * TITLE="clear operations on marx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=marx.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --robot cron --archive-timeout 7 --max-operations-per-user 1500 --soft-limit 200"' >>/opt/cron/clear_operations_marx.log 2>&1
*/10 * * * * TITLE="clear operations on quine" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=quine.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --robot cron --robot statbox_kafka_push --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_quine.log 2>&1
*/10 * * * * TITLE="clear operations on plato" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_plato.log 2>&1
*/10 * * * * TITLE="clear operations on aristotle" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_aristotle.log 2>&1
#*/10 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=barney.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_barney.log 2>&1
*/10 * * * * TITLE="clear operations on seneca_sas" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=seneca-sas.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_seneca-sas.log 2>&1
*/10 * * * * TITLE="clear operations on pythia" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=pythia.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_pythia.log 2>&1
*/10 * * * * TITLE="clear operations on hegel" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hegel.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_hegel.log 2>&1
*/10 * * * * TITLE="clear operations on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_freud.log 2>&1
*/10 * * * * TITLE="clear operations on popper" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=popper.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations_new2.py --archive-timeout 7 --archive"' >>/opt/cron/clear_operations_popper.log 2>&1
*/10 * * * * TITLE="clear operations on tarski" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=tarski.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_tarski.log 2>&1
*/10 * * * * TITLE="clear operations on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=banach.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_banach.log 2>&1
*/10 * * * * TITLE="clear operations on socrates" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=socrates.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_socrates.log 2>&1
*/10 * * * * TITLE="clear operations on vanga" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=vanga.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_vanga.log 2>&1
*/10 * * * * TITLE="clear operations on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hahn.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_hahn.log 2>&1
*/10 * * * * TITLE="clear operations on hume" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hume.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/clear_operations_lock "/opt/cron/clear_operations.py --archive-timeout 7"' >>/opt/cron/clear_operations_hume.log 2>&1

# Merge tables
0 12 * * * TITLE="merge on smith" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=smith.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 9,21 * * * TITLE="merge on plato" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on aristotle" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on hegel" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hegel.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on tarski" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=tarski.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=banach.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on vanga" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=vanga.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1
0 3,15 * * * TITLE="merge on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hahn.yt.yandex.net /opt/cron/run_merge.sh >>/opt/cron/run_merge_log 2>&1


# Nightly compression
0 5 * * * TITLE="compression on smith" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=smith.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on plato" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on aristotle" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on hegel" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hegel.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on tarski" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=tarski.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=banach.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1
0 5 * * * TITLE="compression on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hahn.yt.yandex.net  /opt/cron/run_compress.sh >>/opt/cron/run_compress_log 2>&1


# Nightly tests
0 5 * * * YT_PROXY=quine.yt.yandex.net  /opt/cron/nightly_tests/synth/cron.sh /opt/cron/nightly_tests/logs >>/opt/cron/nightly_tests_log 2>&1
#0 5 * * * YT_PROXY=smith.yt.yandex.net /opt/cron/nightly_tests/synth/cron.sh /opt/cron/nightly_tests/logs >>/opt/cron/nightly_tests_log 2>&1

# Check parent id
#0 2,14 * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=kant.yt.yandex.net /opt/cron/detect_nodes_without_parent.py >>/opt/cron/detect_nodes_without_parent_log 2>&1

# Clear old objects in tmp
0 * * * * TITLE="clear tmp on smith" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=smith.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on marx" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=marx.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on quine" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=quine.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on plato" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net /opt/cron/clear_tmp.py --max-disk-space 30000000000000 >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on aristotle" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on hegel" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hegel.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on tarski" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=tarski.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on banach" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=banach.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1
0 * * * * TITLE="clear tmp on hahn" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hahn.yt.yandex.net /opt/cron/clear_tmp.py >>/opt/cron/clear_tmp_log 2>&1


# Import tables from redwood
*/10 * * * * TITLE="yamr import to plato" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/yamr_import_lock "/opt/cron/import_to_plato.py"' >>/opt/cron/import_to_plato.log 2>&1
*/10 * * * * TITLE="yamr import to aristotle" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/yamr_import_lock "/opt/cron/import_to_aristotle.py"' >>/opt/cron/import_to_aristotle.log 2>&1
*/10 * * * * TITLE="yamr import to freud" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/yamr_import_lock "/opt/cron/import_to_freud.py"' >>/opt/cron/import_to_freud.log 2>&1
 

# Setting opaques
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=smith.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_log 2>&1
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_log 2>&1
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_log 2>&1
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hegel.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_log 2>&1
0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net /opt/cron/set_opaque.py >>/opt/cron/set_opaque_log 2>&1

# Clear transfer manager tasks
0 * * * * TITLE="clear transfer manager tasks" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/clear_transfer_manager_tasks.py http://transfer-manager.yt.yandex.net/api/v1 --token 502abcc7a71ff9ac38156bd80ea6d81d --total-count 1500 >>/opt/cron/clear_transfer_manager_tasks.log 2>&1

# Push account statistics to statface
*/10 * * * * TITLE="push account statistics to statface" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru /opt/cron/push_resource_usage_info.py --cluster plato aristotle smith hegel freud quine locke popper >>/opt/cron/push_resource_usage_info.log 2>&1

# Scheduler event log rotation
0 * * * * TITLE="scheduler event log rotation on hegel" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=hegel.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_hegel.log 2>&1
0 * * * * TITLE="scheduler event log rotation on plato" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=plato.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_plato.log 2>&1
0 * * * * TITLE="scheduler event log rotation on smith" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=smith.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_smith.log 2>&1
0 * * * * TITLE="scheduler event log rotation on aristotle" /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=aristotle.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_aristotle.log 2>&1
#0 * * * * /opt/cron/tools/mail_if_failed.sh yt-dev-root@yandex-team.ru 'YT_TOKEN=!!INSERT_TOKEN_HERE!! YT_PROXY=freud.yt.yandex.net yt_lock.py --conflict-exit-code 0 //sys/cron/scheduler_event_log_rotate_lock "/opt/cron/fennel_rotate.py"' >>/opt/cron/scheduler_event_log_rotation_freud.log 2>&1
