// {{ autogen_marker }}
{%- import "/macros.proto.j2" as macros %}

{%- if proto3 %}
syntax = "proto3";
{%- endif %}

package {{ data_model_proto_package }};

{% if data_model_java_package -%}
option java_package = "{{ data_model_java_package }}";
{%- endif %}
{%- if yp_compatible %}
option java_outer_classname = "Autogen";
{%- endif %}
{%- if data_model_java_multiple_files %}
option java_multiple_files = true;
{%- endif %}
{%- if data_model_go_package %}
option go_package = "{{ data_model_go_package }}";
{%- endif %}

import "yt_proto/yt/core/yson/proto/protobuf_interop.proto";

{{ macros.print_object_types_enum(objects, yp_compatible) }}
