// {{ autogen_marker }}

package {{ server_proto_package }};

{% if server_java_package -%}
option java_package = "{{ server_java_package }}";
{%- endif %}
{%- if server_go_package %}
option go_package = "{{ server_go_package }}";
{%- endif %}

////////////////////////////////////////////////////////////////////////////////

// See select_continuation.h for details.
message TSelectContinuationTokenEvaluatedEntry
{
    optional string object_expression = 1;
    optional string db_expression = 2;
    optional string db_table_name = 5;
    optional bool db_evaluated = 6;
    optional bool descending = 3;
    optional bytes yson_value = 4;
}

////////////////////////////////////////////////////////////////////////////////

message TSelectObjectsContinuationToken
{
    reserved 1, 2, 3, 4, 5;

    // Major version corresponds to the internal continuation token structure.
    // Minor version is equal to DB version.
    optional int32 major_version = 7;
    optional int32 minor_version = 8;

    // Must contain object key for order stability.
    // Must contain table key (e.g.: hash, parent id and object id columns) for efficiency.
    repeated TSelectContinuationTokenEvaluatedEntry evaluated_entries = 6;
}

////////////////////////////////////////////////////////////////////////////////

message TSelectObjectHistoryContinuationToken
{
    reserved 1, 2, 3;

    // Major version corresponds to the internal continuation token structure.
    // Minor version is equal to DB version.
    optional int32 major_version = 5;
    optional int32 minor_version = 6;

    // Must contain history event key for order stability.
    // Must contain table key for efficiency.
    repeated TSelectContinuationTokenEvaluatedEntry evaluated_entries = 4;

    // The source to read history from. Useful for history table migrations.
    optional string read_source = 7;

    // Reads that involve index require additional phases.
    optional int32 read_phase = 8;
}

////////////////////////////////////////////////////////////////////////////////
