// {{ autogen_marker }}
{%- import "/macros.proto.j2" as macros %}

{%- if proto3 %}
syntax = "proto3";
{%- endif %}

package {{ data_model_proto_package }};

{% if data_model_java_package -%}
option java_package = "{{ data_model_java_package }}";
{%- endif %}
{%- if data_model_go_package %}
option go_package = "{{ data_model_go_package }}";
{%- endif %}
{##}
{%- for i in object_modules %}
{{ macros.import_public(i, yp_compatible) }}
{%- endfor %}
