// {{ autogen_marker }}

#pragma once

#include <yt/yt/core/misc/public.h>

namespace {{ error_cpp_namespace }} {

DEFINE_ENUM(EErrorCode,
{%- for error in errors.values | sort(attribute='number') %}
    (({{ error.cpp_enum_value_name }}) ({{ error.number }}))
{%- endfor %}
);

} // {{ error_cpp_namespace }}
