// {{ autogen_marker }}

#include <{{ program_lib_cpp_path }}/program.h>

////////////////////////////////////////////////////////////////////////////////

int main(int argc, const char** argv)
{
    return {{ cpp_server_namespace }}::TMasterProgram().Run(argc, argv);
}
