// {{ autogen_marker }}

#pragma once

#include "public.h"

#include <yt/yt/orm/server/master/public.h>

#include <yt/yt/orm/server/objects/public.h>

namespace {{ cpp_objects_namespace }} {

////////////////////////////////////////////////////////////////////////////////

NYT::NOrm::NServer::NObjects::TObjectManagerPtr CreateObjectManager(
    NYT::NOrm::NServer::NMaster::IBootstrap* bootstrap,
    NYT::NOrm::NServer::NObjects::TObjectManagerConfigPtr config);

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ cpp_objects_namespace }}
