// {{ autogen_marker }}

#pragma once

#include "public.h"
{% if access_control_file %}
#include <{{ data_model_proto_path }}/{{ access_control_file | replace(".proto", ".pb.h") }}>
{%- else %}
#include <{{ client_schema_h }}>
{%- endif %}

#include <yt/yt/orm/server/objects/data_model_object.h>

namespace {{ cpp_objects_namespace }} {

////////////////////////////////////////////////////////////////////////////////

using TDataModelObject = NYT::NOrm::NServer::NObjects::TDataModelObject<
    {{ cpp_data_model_proto_namespace }}::TAccessControlEntry>;

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ cpp_objects_namespace }}
