// {{ autogen_marker }}

#include "object_detail.h"

namespace {{ cpp_objects_namespace }} {

////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ cpp_objects_namespace }}
