// {{ autogen_marker }}

#include "public.h"

namespace {{ cpp_objects_namespace }} {

////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ cpp_objects_namespace }}
