// {{ autogen_marker }}

#pragma once

#include <yt/yt/orm/server/objects/type_handler.h>

#include <memory>

namespace {{ cpp_objects_namespace }} {

////////////////////////////////////////////////////////////////////////////////
{%- for object in objects %}

std::unique_ptr<NYT::NOrm::NServer::NObjects::IObjectTypeHandler> Create{{ object.camel_case_name }}TypeHandler(
    NYT::NOrm::NServer::NMaster::IBootstrap* bootstrap,
    NYT::NOrm::NServer::NObjects::TObjectManagerConfigPtr config);

{%- endfor %}

////////////////////////////////////////////////////////////////////////////////

} // {{ cpp_objects_namespace }}
