<div class="jumbotron">
  <h1>Аутентификация</h1>
  <p class="lead">
    Для аутентификации в API YT мы используем внутренний OAuth.
  </p>
  <a class="btn btn-large btn-success" href="new">Получить токен!</a>
</div>
<hr>
<div class="row-fluid marketing">
  <div class="span6">
    <h4>Как пользоваться в API?</h4>
    <p>Only god may know this.</p>
    <h4>Как пользоваться в веб-интерфейсе?</h4>
    <p>Why would you ever ask?</p>
  </div>
  <div class="span6">
    <h4>Где отозвать токен?</h4>
    <p>
      Воспользуйтесь интерфейсом на <a href="http://oauth.yandex-team.ru/list_tokens">oauth.yandex-team.ru</a>
      для отзыва авторизации у приложения YT.
    </p>
    <h4>Где почитать еще про OAuth?</h4>
    <p>
      Воспользуйтесь документацией на <a href="http://doc.yandex-team.ru/oauth/dg-internal/concepts/About.xml">doc.yandex-team.ru</a>.
    </p>
  </div>
</div>
