<div class="jumbotron">
  <p class="lead">Это ваш аутентификационный токен:</p>
  <h2>{{token}}</h2>
  <br />
  <p class="lead">Сохраните его в <code>~/.yt/token</code>:</p>
  <p class="lead"><code>echo '{{token}}' > ~/.yt/token</code></p>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <p>
      <a href="index">Вернуться назад</a>.
    </p>
  </div>
</div>
