Checks: >
  arcadia-ascii-compare-ignorecase,
  arcadia-typeid-name-restriction,
  bugprone-dangling-handle,
  bugprone-fold-init-type,
  bugprone-move-forwarding-reference,
  bugprone-suspicious-include,
  bugprone-suspicious-missing-comma,
  bugprone-too-small-loop-variable,
  bugprone-unused-raii,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-pro-type-member-init,
  google-build-namespaces,
  google-global-names-in-headers,
  misc-definitions-in-headers,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-unused-parameters,
  modernize-use-override,
  modernize-loop-convert,
  modernize-raw-string-literal,
  modernize-use-nullptr,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-const-arg,
  performance-noexcept-move-constructor,
  performance-trivially-destructible,
  performance-unnecessary-copy-initialization,
  readability-braces-around-statements,
  readability-identifier-naming,
  readability-redundant-control-flow,
