// {{ autogen_marker }}

#pragma once

#include "public.h"

#include <yt/yt/orm/client/native/config.h>

namespace {{ client_native_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

class TConnectionConfig
    : public NYT::NOrm::NClient::NNative::TConnectionConfig
{
public:
    REGISTER_YSON_STRUCT(TConnectionConfig);

    static void Register(TRegistrar registrar);
};

DEFINE_REFCOUNTED_TYPE(TConnectionConfig)

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_native_cpp_namespace }}
