// {{ autogen_marker }}

#include "object_service_proxy.h"

namespace {{ client_native_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_native_cpp_namespace }}
