// {{ autogen_marker }}

#pragma once

#include "public.h"

#include <{{ proto_api_path }}/object_service.pb.h>

#include <yt/yt/orm/client/native/object_service_proxy.h>

namespace {{ client_native_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

DEFINE_OBJECT_SERVICE_PROXY_BY_NAMESPACES(
    {{ cpp_data_model_proto_namespace }},
    {{ client_proto_cpp_namespace }})

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_native_cpp_namespace }}
