// {{ autogen_marker }}

#pragma once

#include <{{ client_objects_cpp_path }}/public.h>

namespace {{ client_native_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

using {{ client_objects_cpp_namespace }}::TObjectTypeValues;
using {{ client_objects_cpp_namespace }}::TObjectTypeNames;

DECLARE_REFCOUNTED_CLASS(TConnectionConfig)

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_native_cpp_namespace }}
