// {{ autogen_marker }}

#pragma once

#include <yt/yt/orm/client/objects/public.h>

namespace {{ client_misc_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

NYT::NOrm::NClient::NObjects::TObjectTypeValue GetObjectTypeValueByIndex(const TString& indexName);

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_misc_cpp_namespace }}
