// {{ autogen_marker }}

#include "acl.h"

#include <yt/yt/orm/client/objects/registry.h>

#include <mutex>

namespace {{ client_objects_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

NYT::NOrm::NClient::NObjects::IAccessControlRegistryPtr CreateAccessControlRegistry()
{
    return NYT::NOrm::NClient::NObjects::CreateAccessControlRegistry(
        {
    {%- for value in acl_permissions_enum.values | rejectattr("deprecated") | sort(attribute="number") %}
            { .Value = {{ value.number }}, .Name = "{{ value.enum_value_name }}" },
    {%- endfor %}
        });
}

void EnsureAccessControlRegistryInitialized()
{
    // Prevent redundant initializations during unittests execution.
    static std::once_flag Initialized;
    std::call_once(Initialized, [] {
        NYT::NOrm::NClient::NObjects::SetGlobalAccessControlRegistry(CreateAccessControlRegistry());
    });
}

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_objects_cpp_namespace }}
