// {{ autogen_marker }}

#include "acl.h"
#include "tags.h"
#include "type.h"

namespace {{ client_objects_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

void EnsureGlobalRegistriesAreInitialized()
{
    EnsureObjectTypeRegistryInitialized();
    EnsureTagsRegistryInitialized();
    EnsureAccessControlRegistryInitialized();
}

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_objects_cpp_namespace }}
