// {{ autogen_marker }}

#pragma once

namespace {{ client_objects_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

void EnsureGlobalRegistriesAreInitialized();

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_objects_cpp_namespace }}
