// {{ autogen_marker }}

#include "public.h"

namespace {{ client_objects_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////
{% for object in objects | rejectattr('builtin') %}
const NYT::NOrm::NClient::NObjects::TObjectTypeName TObjectTypeNames::{{ object.camel_case_name }} = "{{ object.snake_case_name }}";
{%- endfor %}

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_objects_cpp_namespace }}
