// {{ autogen_marker }}

#pragma once

#include <yt/yt/orm/client/objects/public.h>

namespace {{ client_objects_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

struct TObjectTypeValues
    : public NYT::NOrm::NClient::NObjects::TObjectTypeValues
{
    {%- for object in objects | rejectattr('builtin') | sort(attribute="type_value") %}
    static constexpr NYT::NOrm::NClient::NObjects::TObjectTypeValue {{ object.camel_case_name }} = {{ object.type_value }};
    {%- endfor %}
};

struct TObjectTypeNames
    : public NYT::NOrm::NClient::NObjects::TObjectTypeNames
{
    {%- for object in objects | rejectattr('builtin') %}
    static const NYT::NOrm::NClient::NObjects::TObjectTypeName {{ object.camel_case_name }};
    {%- endfor %}
};

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_objects_cpp_namespace }}
