// {{ autogen_marker }}

#pragma once

#include <yt/yt/orm/client/objects/type.h>

namespace {{ client_objects_cpp_namespace }} {

////////////////////////////////////////////////////////////////////////////////

NYT::NOrm::NClient::NObjects::IObjectTypeRegistryPtr CreateObjectTypeRegistry();

////////////////////////////////////////////////////////////////////////////////

void EnsureObjectTypeRegistryInitialized();

////////////////////////////////////////////////////////////////////////////////

} // namespace {{ client_objects_cpp_namespace }}
