name: Cache heater

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0,2,4,6,8,10,12,14,16,18,20,22 * * *'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  start-vm:
    name: Start VM
    runs-on: trampoline
    outputs:
      label: ${{ steps.start-yc-runner.outputs.label }}
      instance-id: ${{ steps.start-yc-runner.outputs.instance-id }}
    steps:
      - name: Start YC runner
        id: start-yc-runner
        uses: yc-actions/yc-github-runner@v1
        with:
          mode: start
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          folder-id: ${{ vars.YC_FOLDER_ID }}
          image-id: ${{ vars.YC_DEFAULT_IMAGE_ID }}
          zone-id: ${{ vars.YC_ZONE_ID }}
          subnet-id: ${{ vars.YC_SUBNET_ID }}
          cores: 32
          memory: 64GB
          core-fraction: 100
          disk-type: network-ssd-nonreplicated
          disk-size: 558GB
          user: ${{ secrets.YC_VM_USERNAME }}
          ssh-public-key: ${{ secrets.YC_VM_SSH_PUBLIC_KEY }}
          public-ip: false
          ttl: PT24H
          disable-update: true

  checkout:
    name: Checkout sources
    needs: start-vm
    runs-on: ${{ needs.start-vm.outputs.label }}
    steps:
      - name: Checkout ytsaurus
        uses: actions/checkout@v3
        with:
          path: ytsaurus
      - name: Checkout ydb
        uses: actions/checkout@v3
        with:
          repository: ydb-platform/ydb
          ref: 7fc9138427cd551114c2807deee0435466d15df1
          path: ydb

  patch-ya-conf:
    name: Patch ya conf
    needs:
      - checkout
      - start-vm
    runs-on: ${{ needs.start-vm.outputs.label }}
    steps:
      - name: Patch ya conf
        run: |
          cat ./ydb/build/internal/ya.conf | grep -v bazel | grep -v "dist_cache" > ./patched.ya.conf
          cp ./patched.ya.conf ./ydb/build/internal/ya.conf

  build-strawberry:
    name: Build Strawberry controller
    needs:
      - start-vm
      - checkout
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      build-strawberry: true
    secrets:
      BUILD_CACHE_BAZEL_USERNAME: ${{ secrets.BUILD_CACHE_BAZEL_USERNAME }}
      BUILD_CACHE_BAZEL_PASSWORD: ${{ secrets.BUILD_CACHE_BAZEL_PASSWORD }}
    uses: ./.github/workflows/build-jobs.yaml

  build-cmake:
    name: Build with cmake
    needs:
      - start-vm
      - checkout
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      cpp-build-system: cmake
      build-ytsaurus: true
      build-chyt: ${{ github.ref_name == 'main' }}
      build-python: true
    secrets:
      BUILD_CACHE_BAZEL_USERNAME: ${{ secrets.BUILD_CACHE_BAZEL_USERNAME }}
      BUILD_CACHE_BAZEL_PASSWORD: ${{ secrets.BUILD_CACHE_BAZEL_PASSWORD }}
    uses: ./.github/workflows/build-jobs.yaml

  build:
    name: Build
    needs:
      - start-vm
      - checkout
      - patch-ya-conf
      - build-cmake
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      cpp-build-system: ya-make
      build-python: true
      skip-python-packages: true
      build-ytsaurus: true
      build-query-tracker: true
      build-yql-python-udfs: false
      update-remote-cache: true
    secrets:
      BUILD_CACHE_BAZEL_USERNAME: ${{ secrets.BUILD_CACHE_BAZEL_USERNAME }}
      BUILD_CACHE_BAZEL_PASSWORD: ${{ secrets.BUILD_CACHE_BAZEL_PASSWORD }}
    uses: ./.github/workflows/build-jobs.yaml

  stop-vm:
    name: Stop VM
    needs:
      - start-vm
      - build
    runs-on: trampoline
    if: ${{ always() }}
    steps:
      - name: Stop YC runner
        uses: yc-actions/yc-github-runner@v1
        with:
          mode: stop
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          label: ${{ needs.start-vm.outputs.label }}
          instance-id: ${{ needs.start-vm.outputs.instance-id }}

  # send-notifications:
  #   name: Send notifications
  #   needs:
  #     - stop-vm
  #   runs-on: ubuntu-latest
  #   if: ${{ failure() }}
  #   steps:
  #     - name: Send telegram message
  #       uses: appleboy/telegram-action@master
  #       with:
  #         to: ${{ secrets.TELEGRAM_CHAT_ID }}
  #         token: ${{ secrets.TELEGRAM_TOKEN }}
  #         disable_web_page_preview: true
  #         format: markdown
  #         message: |
  #           Cache heater failed
