on:
  workflow_call:
    inputs:
      runs-on-value:
        required: true
        type: string

jobs:
  check:
    runs-on: ${{ inputs.runs-on-value }}
    steps:
      - name: Unittests
        shell: bash
        run: |
          cp ./ytsaurus/yt/yt/scripts/run_unittests.sh ../build/
          cd ../build
          ./run_unittests.sh

      - name: Prepare pytest environment
        shell: bash
        run: |
          ytsaurus/yt/yt/scripts/prepare_pytest_environment.sh

      - name: Integration tests
        shell: bash
        run: |
          ytsaurus/yt/yt/scripts/run_integration_tests.sh

      - name: Python tests
        shell: bash
        run: |
          ytsaurus/yt/yt/scripts/run_python_tests.sh

      - name: Odin tests
        shell: bash
        run: |
          ytsaurus/yt/odin/tests/run_tests.sh
