name: C++ CI

on:
  workflow_dispatch:
    inputs:
      build_types:
        description: 'JSON array: ["release"], ["relwithdebinfo"], or ["release","relwithdebinfo"]'
        required: false
        default: '["relwithdebinfo"]'
        type: string
  push:
    branches:
      - main
      - members/ziganshinmr/yt-qt-mrjob-tcmalloc

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  start-vm:
    name: Start VM
    runs-on: trampoline
    outputs:
      label: ${{ steps.start-yc-runner.outputs.label }}
      instance-id: ${{ steps.start-yc-runner.outputs.instance-id }}
    steps:
      - name: Start YC runner
        id: start-yc-runner
        uses: yc-actions/yc-github-runner@v1
        with:
          mode: start
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          folder-id: ${{ vars.YC_FOLDER_ID }}
          image-id: ${{ vars.YC_DEFAULT_IMAGE_ID }}
          zone-id: ${{ vars.YC_ZONE_ID }}
          subnet-id: ${{ vars.YC_SUBNET_ID }}
          cores: 16
          memory: 64GB
          core-fraction: 100
          disk-type: network-ssd-nonreplicated
          disk-size: 744GB
          user: ${{ secrets.YC_VM_USERNAME }}
          ssh-public-key: ${{ secrets.YC_VM_SSH_PUBLIC_KEY }}
          public-ip: false
          ttl: PT24H
          runner-home-dir: /actions-runner

  checkout:
    name: Checkout sources
    needs: start-vm
    runs-on: ${{ needs.start-vm.outputs.label }}
    steps:
      - name: Checkout ytsaurus
        uses: actions/checkout@v3
        with:
          path: ytsaurus

  tag:
    name: Calculate docker tag
    needs:
      - start-vm
      - checkout
    runs-on: ${{ needs.start-vm.outputs.label }}
    outputs:
      image-tag: ${{ steps.tag.outputs.IMAGE_TAG }}
      nightly-image-tag: ${{ steps.tag.outputs.NIGHTLY_IMAGE_TAG }}
      build-types: ${{ steps.tag.outputs.BUILD_TYPES }}
    steps:
      - name: Calculate docker tag
        id: tag
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            IMAGE_TAG=dev-test
          else
            if [[ $GITHUB_REF =~ main$ ]];
            then
              IMAGE_TAG=dev
            elif [[ $GITHUB_REF =~ stable ]];
            then
              IMAGE_TAG=dev-${GITHUB_REF#refs/*/stable/}
            elif [[ $GITHUB_REF =~ "query-tracker" ]];
            then
              IMAGE_TAG=dev-${GITHUB_REF#refs/*/query-tracker/}
            elif [[ $GITHUB_REF =~ "chyt" ]];
            then
              IMAGE_TAG=dev-${GITHUB_REF#refs/*/chyt/}
            else
              IMAGE_TAG=dev-test
            fi
          fi

          NIGHTLY_IMAGE_TAG=${IMAGE_TAG}-$(git -C ytsaurus show -s --pretty=%cs)-${GITHUB_SHA}

          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "NIGHTLY_IMAGE_TAG=$NIGHTLY_IMAGE_TAG" >> $GITHUB_OUTPUT

          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo 'BUILD_TYPES=${{ github.event.inputs.build_types }}' >> "$GITHUB_OUTPUT"
          else
            echo 'BUILD_TYPES=["release","relwithdebinfo"]' >> "$GITHUB_OUTPUT"
          fi

  build-strawberry:
    name: Build Strawberry controller
    needs:
      - start-vm
      - checkout
      - tag
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      build-strawberry: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'stable/') }}
      build-types: ${{ needs.tag.outputs.build-types }}
    secrets:
      BUILD_CACHE_BAZEL_USERNAME: ${{ secrets.BUILD_CACHE_BAZEL_USERNAME }}
      BUILD_CACHE_BAZEL_PASSWORD: ${{ secrets.BUILD_CACHE_BAZEL_PASSWORD }}
    uses: ./.github/workflows/build-jobs.yaml

  build-cmake:
    name: Build with cmake
    needs:
      - start-vm
      - checkout
      - build-strawberry
      - tag
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      cpp-build-system: cmake
      build-ytsaurus: true
      build-chyt: ${{ github.ref_name == 'main' }}
      build-python: true
      update-remote-cache: true
      build-types: ${{ needs.tag.outputs.build-types }}
    secrets:
      BUILD_CACHE_BAZEL_USERNAME: ${{ secrets.BUILD_CACHE_BAZEL_USERNAME }}
      BUILD_CACHE_BAZEL_PASSWORD: ${{ secrets.BUILD_CACHE_BAZEL_PASSWORD }}
    uses: ./.github/workflows/build-jobs.yaml

  docker-cmake:
    name: Docker images with cmake
    needs:
      - start-vm
      - tag
      - build-cmake
      - build-strawberry
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      cpp-build-system: cmake
      publish-strawberry: ${{ github.ref_name == 'main' }}
      image-tag: ${{ needs.tag.outputs.image-tag }}
      nightly-image-tag: ${{ needs.tag.outputs.nightly-image-tag }}
      build-types: ${{ needs.tag.outputs.build-types }}
    secrets:
      GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      GH_USERNAME: ${{ secrets.GH_USERNAME }}
    uses: ./.github/workflows/docker-jobs.yaml

  build-ya-make:
    name: Build with ya-make
    needs:
      - start-vm
      - checkout
      - build-strawberry
      - tag
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      cpp-build-system: ya-make
      build-ytsaurus: true
      build-ytsaurus-tests: true
      build-query-tracker: true
      build-python: true
      build-chyt: true
      update-remote-cache: true
      build-types: ${{ needs.tag.outputs.build-types }}
    secrets:
      BUILD_CACHE_BAZEL_USERNAME: ${{ secrets.BUILD_CACHE_BAZEL_USERNAME }}
      BUILD_CACHE_BAZEL_PASSWORD: ${{ secrets.BUILD_CACHE_BAZEL_PASSWORD }}
    uses: ./.github/workflows/build-jobs.yaml

  docker-ya-make:
    name: Docker images with ya-make
    needs:
      - start-vm
      - tag
      - build-ya-make
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      cpp-build-system: ya-make
      publish-query-tracker: ${{ github.ref_name == 'members/ziganshinmr/yt-qt-mrjob-tcmalloc' }}
      publish-ytsaurus: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'stable/') }}
      publish-local: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'stable/') }}
      publish-chyt: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'chyt/') }}
      image-tag: ${{ needs.tag.outputs.image-tag }}
      nightly-image-tag: ${{ needs.tag.outputs.nightly-image-tag }}
      build-types: ${{ needs.tag.outputs.build-types }}
    secrets:
      GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      GH_USERNAME: ${{ secrets.GH_USERNAME }}
    uses: ./.github/workflows/docker-jobs.yaml

  create-task-for-ytsaurus-ci:
    name: Make task for YTsaurus CI
    if: ${{ startsWith(github.ref_name, 'stable/')
          || startsWith(github.ref_name, 'query-tracker/')
          || startsWith(github.ref_name, 'chyt/') }}
    needs:
      - docker-ya-make
    uses: ./.github/workflows/ytsaurus-ci-runner.yaml
    with:
      scenario: release-tests
      ref_name: ${{ github.ref_name }}
      image_tag: ${{ needs.docker-ya-make.outputs.image-tag }}
    secrets:
      GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      YTSAURUS_CI_K8S_EDITOR_TOKEN: ${{ secrets.YTSAURUS_CI_K8S_EDITOR_TOKEN }}

  check:
    name: Check
    needs:
      - start-vm
      - build-cmake
      - build-ya-make
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
    uses: ./.github/workflows/check-jobs.yaml

  stop-vm:
    name: Stop VM
    needs:
      - start-vm
      - check
      - docker-cmake
      - docker-ya-make
    runs-on: trampoline
    if: ${{ always() }}
    steps:
      - name: Stop YC runner
        uses: yc-actions/yc-github-runner@v1
        with:
          mode: stop
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          label: ${{ needs.start-vm.outputs.label }}
          instance-id: ${{ needs.start-vm.outputs.instance-id }}
