name: C++ CI

on:
  push:
    branches:
      - main
      - stable/[0-9]+\.[0-9]+
      - hotfix/23\.2

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  start-vm:
    name: Start VM
    runs-on: trampoline
    outputs:
      label: ${{ steps.start-yc-runner.outputs.label }}
      instance-id: ${{ steps.start-yc-runner.outputs.instance-id }}
    steps:
      - name: Start YC runner
        id: start-yc-runner
        uses: yc-actions/yc-github-runner@v1
        with:
          mode: start
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          folder-id: ${{ vars.YC_FOLDER_ID }}
          image-id: ${{ vars.YC_DEFAULT_IMAGE_ID }}
          zone-id: ${{ vars.YC_ZONE_ID }}
          subnet-id: ${{ vars.YC_SUBNET_ID }}
          cores: 16
          memory: 32GB
          core-fraction: 100
          disk-type: network-ssd-nonreplicated
          disk-size: 279GB
          user: ${{ secrets.YC_VM_USERNAME }}
          ssh-public-key: ${{ secrets.YC_VM_SSH_PUBLIC_KEY }}
          public-ip: false
          ttl: PT24H

  checkout:
    name: Checkout sources
    needs: start-vm
    runs-on: ${{ needs.start-vm.outputs.label }}
    steps:
      - name: Checkout ytsaurus
        uses: actions/checkout@v3
        with:
          path: ytsaurus

      - name: Checkout ydb
        uses: actions/checkout@v3
        with:
          repository: ydb-platform/ydb
          ref: 9602cbe953310f3b833b7b99cf5ced4021cdd63b
          path: ydb

  build:
    name: Build
    needs:
      - start-vm
      - checkout
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      build-strawberry: ${{ github.ref_name == 'main' }}
      build-ytsaurus: true
      build-query-tracker: false
      build-chyt: ${{ github.ref_name == 'main' }}
      build-python: true
    uses: ./.github/workflows/build-jobs.yaml

  tag:
    name: Calculate docker tag
    needs:
      - start-vm
      - build
    runs-on: ${{ needs.start-vm.outputs.label }}
    outputs:
      image-tag: ${{ steps.tag.outputs.IMAGE_TAG }}
      nightly-image-tag: ${{ steps.tag.outputs.NIGHTLY_IMAGE_TAG }}
    steps:
      - name: Calculate docker tag
        id: tag
        run: |
          if [[ $GITHUB_REF =~ main$ ]];
          then
            IMAGE_TAG=dev
          elif [[ $GITHUB_REF =~ test ]];
          then
            IMAGE_TAG=test
          elif [[ $GITHUB_REF =~ stable ]];
          then
            IMAGE_TAG=dev-${GITHUB_REF#refs/*/stable/}
          elif [[ $GITHUB_REF =~ hotfix ]];
          then
            IMAGE_TAG=hotfix-${GITHUB_REF#refs/*/hotfix/}
          else
            IMAGE_TAG=dev-test
          fi

          NIGHTLY_IMAGE_TAG=${IMAGE_TAG}-$(git -C ytsaurus show -s --pretty=%cs)-${GITHUB_SHA}

          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "NIGHTLY_IMAGE_TAG=$NIGHTLY_IMAGE_TAG" >> $GITHUB_OUTPUT

  docker:
    name: Docker images
    needs:
      - start-vm
      - tag
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
      publish-ytsaurus: true
      publish-query-tracker: false
      publish-chyt: ${{ github.ref_name == 'main' }}
      publish-local: true
      publish-strawberry: ${{ github.ref_name == 'main' }}
      image-tag: ${{ needs.tag.outputs.image-tag }}
      nightly-image-tag: ${{ needs.tag.outputs.nightly-image-tag }}
    secrets:
      GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      GH_USERNAME: ${{ secrets.GH_USERNAME }}
    uses: ./.github/workflows/docker-jobs.yaml

  check:
    name: Check
    needs:
      - start-vm
      - docker
    with:
      runs-on-value: ${{ needs.start-vm.outputs.label }}
    uses: ./.github/workflows/check-jobs.yaml

  systest:
    name: systest
    if: github.ref_name == 'main'
    needs:
      - start-vm
      - tag
      - check
    runs-on: ${{ needs.start-vm.outputs.label }}
    steps:
      - name: Mark latest nightly
        run: |
          if [[ ${{ needs.tag.outputs.image-tag }} == 'dev' ]]
          then
            NIGHTLY_IMAGE_TAG=${{ needs.tag.outputs.nightly-image-tag }}-relwithdebinfo
            docker tag ghcr.io/ytsaurus/ytsaurus-nightly:${NIGHTLY_IMAGE_TAG} ghcr.io/ytsaurus/ytsaurus-nightly:latest
            docker push ghcr.io/ytsaurus/ytsaurus-nightly:latest
          fi

      - name: Download benchmarks
        uses: robinraju/release-downloader@v1.8
        with:
          latest: true
          fileName: "benchmark-0.0.1.tgz"

      - name: Docker systest
        shell: bash
        run: |
          mkdir -p ../docker-systest-build
          bash ./ytsaurus/yt/docker/systest/build.sh --ytsaurus-source-path $(pwd)/ytsaurus --ytsaurus-build-path ../build --output-path ../docker-systest-build --image-tag latest --image-cr ghcr.io/
          docker push ghcr.io/ytsaurus/ytsaurus-systest:latest

  stop-vm:
    name: Stop VM
    needs:
      - start-vm
      - systest
    runs-on: trampoline
    if: ${{ always() }}
    steps:
      - name: Stop YC runner
        uses: yc-actions/yc-github-runner@v1
        with:
          mode: stop
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          label: ${{ needs.start-vm.outputs.label }}
          instance-id: ${{ needs.start-vm.outputs.instance-id }}
