name: Java SDK CI

on:
  push:
    branches:
      - main
      - members/ilyaibraev/try-to-fix-local

jobs:
  check:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test --info

      - name: Run integration tests
        run: ./gradlew testIntegration --info

      - name: Run integration multicell tests
        run: ./gradlew testIntegrationMulticell --info

      - name: Get latest Java SDK tag
        uses: oprypin/find-latest-tag@v1.1.2
        id: latest_tag
        with:
          repository: ytsaurus/ytsaurus
          regex: 'java-sdk/*'

      - name: Get snapshot release version
        id: release_version
        run: |
          LATEST_TAG=${{ steps.latest_tag.outputs.tag }}; echo "RELEASE_VERSION=$(echo ${LATEST_TAG#java-sdk/})" >> $GITHUB_OUTPUT

      - name: Publish snapshot
        if: ${{ vars.ENABLE_JAVA_SNAPSHOT_PUBLISHING == '1' }}
        run: ./gradlew publish -PossrhUsername=${{ secrets.OSSRH_USERNAME }} -PossrhPassword=${{ secrets.OSSRH_PASSWORD }} -Pversion="${{ steps.release_version.outputs.RELEASE_VERSION }}-SNAPSHOT" -PsigningPassword=${{ secrets.GPG_PASSWORD }} -PsigningKey="${{ secrets.GPG_PRIVATE_KEY }}"

  send-alert:
    needs:
      - check
    if: always()
    uses: ./.github/workflows/check-status-and-send-alert.yaml
    with:
      is_failure: ${{ contains(join(needs.*.result, ','), 'failure') }}
    secrets:
      GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}