name: Generate Documentation Release Notes

on:
  release:
    types: [created, edited, deleted]
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name or custom string'
        required: true
        default: ''

permissions:
  pull-requests: write
  contents: write

jobs:
  generate-notes:
    runs-on: ubuntu-latest

    steps:
      - name: Calculate tag
        id: tag
        run: |
          if [ "${{ github.event_name }}" == "release" ]; then
            echo "TAG_NAME=${{ github.event.release.tag_name }}" >> $GITHUB_OUTPUT
          else
            echo "TAG_NAME=${{ inputs.tag_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ vars.YTSAURUS_ACTIONS_APP_ID }}
          private-key: ${{ secrets.YTSAURUS_ACTIONS_PRIVATE_KEY }}

      - name: Generate release notes
        run: |
          ./ya make -r yt/yt/scripts/generate_documentation_release_notes
          ./yt/yt/scripts/generate_documentation_release_notes/generate_documentation_release_notes -o "yt/docs/en/_includes/releases" -o "yt/docs/ru/_includes/releases"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update Documentation Release Notes
          branch: ci/update-documentation-release-notes/${{ steps.tag.outputs.TAG_NAME }}
          base: main
          title: "Update Release Notes"
          labels: |
            documentation
            release-notes
          body: |
            Update release notes in the documentation.
