name: YTsaurus CI runner

on:
  workflow_call:
    inputs:
      scenario:
        description: "Name of the scenario"
        required: true
        type: string
      ref_name:
        required: false
        type: string
      image_tag:
        required: false
        type: string
    secrets:
      GH_PERSONAL_ACCESS_TOKEN:
        required: true
      YTSAURUS_CI_K8S_EDITOR_TOKEN:
        required: true

jobs:
  create-task-for-ytsaurus-ci:
    name: Create new task for YTsaurus CI
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout ytsaurus
        uses: actions/checkout@v4
      - name: Prepare
        run: |
          ./ya make -r yt/admin/ytsaurus_ci
      - name: Call task creator
        id: call-task-creator
        shell: bash
        run: |
          set -euo pipefail

          ref='$${{ inputs.ref_name }}'
          tag='$${{ inputs.image_tag }}'

          if [[ -n "$$tag" ]]; then
            tmp="$${tag#*-}"
            ver="$${tmp%%-*}"
          else
            ver="$${ref#*/}"
          fi

          component=""
          case "$$ref" in
            query-tracker/*) component="query_tracker" ;;
            stable/*)        component="ytsaurus" ;;
            chyt/*)          component="chyt" ;;
          esac

          version_filter_json="{}"
          if [[ -n "$$component" && -n "$$ver" ]]; then
            version_filter_json="$$(jq -cn --arg k "$$component" --arg v "$$ver" '{($$k): $$v}')"
          fi

          echo "Ver: $$ver"
          echo "Component: $$component"
          echo "JSON: $$version_filter_json"

          args=(
            run-scenario
            --scenario "$${{ inputs.scenario }}"
            --git-token "$${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
            --cloud-function-token "$${{ secrets.YTSAURUS_CI_K8S_EDITOR_TOKEN }}"
            --version-filter "$$version_filter_json"
            --apply
          )

          ./yt/admin/ytsaurus_ci/ytsaurus_ci "$${args[@]}"
