name: YTsaurus CI runner

on:
  workflow_call:
    inputs:
      scenario:
        description: "Name of the scenario"
        required: true
        type: string
      query_tracker_version:
        description: "Version filter for query_tracker"
        required: false
        type: string
      ytsaurus_version:
        description: "Version filter for ytsaurus"
        required: false
        type: string
      operator_version:
        description: "Version filter for k8s-operator"
        required: false
        type: string
      strawberry_version:
        description: "Version filter for strawberry"
        required: false
        type: string
      chyt_version:
        description: "Version filter for chyt"
        required: false
        type: string
    secrets:
      GH_PERSONAL_ACCESS_TOKEN:
        required: true
      YTSAURUS_CI_K8S_EDITOR_TOKEN:
        required: true

jobs:
  create-task-for-ytsaurus-ci:
    name: Create new task for YTsaurus CI
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout ytsaurus
        uses: actions/checkout@v4
      - name: Prepare
        run: |
          ./ya make -r yt/admin/ytsaurus_ci
      - name: Call task creator
        id: call-task-creator
        shell: bash
        run: |
          set -euo pipefail

          args=(
            run-scenario
            --scenario "${{ inputs.scenario }}"
            --git-token "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
            --cloud-function-token "${{ secrets.YTSAURUS_CI_K8S_EDITOR_TOKEN }}"
            --apply
          )

          version_filter_json="{}"
          filters=(
            "query_tracker=${{ inputs.query_tracker_version }}"
            "ytsaurus=${{ inputs.ytsaurus_version }}"
            "operator=${{ inputs.operator_version }}"
            "strawberry=${{ inputs.strawberry_version }}"
            "chyt=${{ inputs.chyt_version }}"
          )

          for kv in "${filters[@]}"; do
            key="${kv%%=*}"
            val="${kv#*=}"

            if [[ -n "$val" ]]; then
              version_filter_json="$(
                jq -cn \
                  --argjson cur "$version_filter_json" \
                  --arg k "$key" \
                  --arg v "$val" \
                  '$cur + {($k): $v}'
              )"
            fi
          done

          args+=( --version-filter "$version_filter_json" )

          ./yt/admin/ytsaurus_ci/ytsaurus_ci "${args[@]}"
