name: YTsaurus CI runner

on:
  workflow_call:
    inputs:
      scenario:
        description: "Name of the scenario"
        required: true
        type: string
    secrets:
      GH_PERSONAL_ACCESS_TOKEN:
        required: true
      YTSAURUS_CI_K8S_EDITOR_TOKEN:
        required: true

jobs:
  create-task-for-ytsaurus-ci:
    name: Create new task for YTsaurus CI
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout ytsaurus
        uses: actions/checkout@v4
        with:
          path: ytsaurus
          sparse-checkout-cone-mode: false
          sparse-checkout: '.github/ytsaurus-ci'

      - name: Prepare
        run: |
          ./ya make -r yt/admin/ytsaurus_ci
      - name: Call task creator
        id: call-task-creator
        run: |
          ./yt/admin/ytsaurus_ci run-scenario \
              --scenario "${{ inputs.scenario }}" \
              --git-token "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}" \
              --cloud-functions-token "${{ secrets.YTSAURUS_CI_K8S_EDITOR_TOKEN }}" \
              --apply
