.nodes_monitor_elem
{
    display: inline-block;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    width: 26px;
    height: 26px;
    margin: 2px;
}

.nodes_monitor_holder
{
    width: 512px;
    margin: auto;
    padding: 0;
}

.nodes_monitor_active
{
    width: 30px;
    height: 30px;
    margin: 0;
}

.nodes_monitor_elem_ok
{
    background-color: #A3D2A3;
    border-color: #46A546;
}

.nodes_monitor_elem_err
{
    background-color: #E29E9A;
    border-color: #C43C35;
}